<div class="registration-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="formRegistration" (ngSubmit)="registrar()">
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput type="text" formControlName="primerNombre" placeholder="Primer Nombre"
                                class="form-control" [(ngModel)]="formRegistration.primerNombre" />
                        </mat-form-field>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput placeholder="Segundo Nombre" type="text" formControlName="segundoNombre"
                                class="form-control" [(ngModel)]="formRegistration.segundoNombre" />
                        </mat-form-field>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput placeholder="Primer Apellido" type="text" formControlName="primerApellido"
                                class="form-control" [(ngModel)]="formRegistration.primerApellido" />
                        </mat-form-field>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <mat-form-field>
                            <input placeholder="Segundo Apellido" matInput type="text" formControlName="segundoApellido"
                                class="form-control" [(ngModel)]="formRegistration.segundoApellido" />
                        </mat-form-field>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput placeholder="Correo" type="text" formControlName="correo"
                                class="form-control" [(ngModel)]="formRegistration.correo" />
                        </mat-form-field>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <mat-form-field>
                            <input matInput placeholder="Contraseña" type="password" formControlName="clave"
                                class="form-control" [(ngModel)]="formRegistration.clave" />
                        </mat-form-field>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <select formControlName="instituto" (change)="instituto($event)" class="custom-select">
                            <option value="0">Instituto</option>
                            <option *ngFor="let i of listaInstitutos" [ngValue]="i.id">{{i.instituto}}</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div *ngIf='insti'>
                        <select formControlName="carrera" (change)="carrera($event)" class="custom-select">
                            <option value="0">Carrera</option>
                            <option *ngFor="let c of listaCarreras" [ngValue]="c.id">{{c.carrera}}</option>
                        </select>
                    </div>
                    
                </td>

            </tr>
            <tr>
                <td>
                    <div>
                        <select *ngIf='carr' formControlName="cargo" (change)="cargo($event)" class="custom-select">
                            <option value="0">Cargo</option>
                            <option *ngFor="let ca of listaCargos" [ngValue]="ca.id">{{ca.cargo}}</option>
                        </select>
                    </div>
                </td>

                <td>

                </td>
            </tr>

            <label id="fecha" for="fechaRegistro">Fecha Registro: {{date}}</label>

            <div class="form-group">
                <button class="btn btn-primary">
                    Registrarse
                </button>
                <a routerLink="/login" class="btn btn-link">Cancelar</a>
            </div>
        </table>
    </form>
</div>