<!--Toolbar Registration-->
<!-- <mat-toolbar *ngIf="isRegistrationView()" color="primary">
  <span class="nav-tool-items">
    <a mat-button routerLink="login">Iniciar Sesión</a>
    <a mat-button mat-raised-button routerLink="registration" routerLinkActive="active">Registrarse</a>
  </span>
</mat-toolbar> -->
<!--Toolbar Login-->
<!-- <mat-toolbar *ngIf="isLoginView()" color="primary">
  <span class="nav-tool-items">
    <a mat-button mat-raised-button routerLink="login" routerLinkActive="active">Iniciar Sesión</a>
    <a mat-button routerLink="registration">Registrarse</a>
  </span>
</mat-toolbar> -->
<!--Toolbar Visualizador-->
<!-- <mat-toolbar *ngIf="isVisualizadorView()" color="primary">
  <span class="nav-tool-items">
    <a mat-button mat-raised-button routerLink="visualizador" routerLinkActive="active">Visualizador de Documentos</a>
    <a mat-button routerLink="elaborador">Elaborador de Documentos</a>
    <a class="logout" mat-button routerLink="login">Cerrar Sesión</a>
  </span>
</mat-toolbar> -->
<!--Toolbar Elaborador-->
<!-- <mat-toolbar *ngIf="isElaboradorView()" color="primary">
  <span class="nav-tool-items">
    <a mat-button routerLink="visualizador">Visualizador de Documentos</a>
    <a mat-button mat-raised-button routerLink="elaborador" routerLinkActive="active">Elaborador de Documentos</a>
    <a class="logout" mat-button routerLink="login">Cerrar Sesión</a>
  </span>
</mat-toolbar> -->

<!--Toolbar Tipos de Formato-->
<!-- <mat-toolbar *ngIf="isElaboradorView()" color="white">
  <span class="nav-tool-items">
    <a mat-button routerLink="actas">Acta</a>
    <a mat-button routerLink="solicitudes">Solicitud</a>
    <a mat-button routerLink="memorandums" routerLinkActive="active">Memorándum</a>
    <a mat-button routerLink="oficios" routerLinkActive="active">Oficio</a>
    <a mat-button routerLink="hojasDeVida">Hoja de Vida</a>
  </span>
</mat-toolbar> -->




<div class="menu" role="main">
  <div *ngIf="isGestionUsuariosView()" class="div1">
    <button class="buttonFill1" mat-button mat-raised-button routerLink="gestion-usuarios">GESTIÓN DE USUARIOS</button>
    </div>
  <div *ngIf="isElaboradorView()" class="div1">
    <button class="buttonFill1" mat-button mat-raised-button routerLink="visualizador">VISUALIZADOR DE DOCUMENTOS</button>
    </div>
    <div *ngIf="isUserView()" class="menu1" >
    <button class="button2" mat-icon-button mat-raised-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button disabled mat-menu-item>
      <mat-icon>account_box</mat-icon>
      <span>{{user.name}}</span>
      </button>
      <button *ngIf="admin" routerLink="gestion-usuarios" mat-menu-item>
        <mat-icon>build</mat-icon>
        <span>Gestionar Usuarios</span>
        </button>
      <button [matMenuTriggerFor]="formatos" mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>Crear Documento</span>
      </button>
      <mat-menu #formatos="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="solicitud">Solicitud</button>
        <button mat-menu-item [matMenuTriggerFor]="acta">Acta</button>
        <button mat-menu-item [matMenuTriggerFor]="memorandum">Memorándum</button>
        <button mat-menu-item [matMenuTriggerFor]="hojaDeVida">Hoja de Vida</button>
        <button mat-menu-item [matMenuTriggerFor]="Oficio">Oficio</button>
      </mat-menu>
      <mat-menu #solicitud="matMenu">
        <button mat-menu-item routerLink="solicitudes">Solicitud Básica</button>
        <button mat-menu-item disabled>Cambio de Jornada</button>
        <button mat-menu-item disabled>Cambio de Carrera</button>
        <button mat-menu-item routerLink="solicitudes-titulacion">Proyecto de Titulación</button>
      </mat-menu>
  
      <mat-menu #acta="matMenu">
        <button mat-menu-item routerLink="actas">Acta Básica</button>
        <button mat-menu-item routerLink="actasReuniones">Acta de Reunión</button>
      </mat-menu>
  
      <mat-menu #memorandum="matMenu">
        <button mat-menu-item routerLink="memorandums">Memorándum Básico</button>
      </mat-menu>
  
      <mat-menu #hojaDeVida="matMenu">
        <button mat-menu-item routerLink="hojasDeVida">Hoja de Vida Básica</button>
        <button mat-menu-item disabled>Hoja de Vida - Fase Práctica</button>
      </mat-menu>
  
      <mat-menu #Oficio="matMenu">
        <button mat-menu-item routerLink="oficios">Oficio Básico</button>
        <button mat-menu-item disabled>Oficio - Carrera Específica</button>
      </mat-menu>


      <button routerLink="visualizador" mat-menu-item>
        <mat-icon>remove_red_eye</mat-icon>
        <span>Visualizador</span>
      </button>
      <button routerLink="elaborador" mat-menu-item>
        <mat-icon>create</mat-icon>
        <span>Elaborador</span>
      </button>
      <button  mat-menu-item>
        <mat-icon>apartment</mat-icon>
        <a href="http://yavirac.edu.ec/eva/login/index.php">IGNUG</a>
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>cancel</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </div>


  <div *ngIf="isVisualizadorView()" class="div1">
    <button class="buttonFill1" mat-button mat-raised-button routerLink="elaborador">ELABORADOR DE DOCUMENTOS</button>
  </div>
  <div>

  </div>
</div>