<div class="container-fluid">
  <nav class="navbar navbar-expand navbar-light bg-primary d-flex justify-content-between">
    <div class="navbar-brand mb-0 h1 text-white">Elaborando Documento Institucional <u>Oficio</u> en GEDI - YAVIRAC</div>
  </nav>
  <div class="progress-loader" [hidden]="!loading">
 
    <mat-progress-bar [mode]="'indeterminate'">
    </mat-progress-bar>
 
</div>
  <form #oficiosForm="ngForm">
    <div class="row">
     <div class="col-md-8">
       <div class="shadow-sm card">
        <p *ngIf="!editable">Nuevo Documento: {{oficiosCodigoUsuario}}</p>
        <p *ngIf="editable">Editando Documento: {{oficiosCodigoUsuario}}</p>
     <div class="card-body">
           <h4 class="card-title d-flex align-items-center">
             <i class="material-icons">
               today
             </i>
             Fecha:
           </h4>
              <label id="fecha" for="fecha">{{date}}</label>
           <!--<div class="col-md-6">
           <div class="row">
             <div class="form-group">
               <input type="text" class="form-control" [(ngModel)]="oficios.fecha" name="fecha" placeholder="Fecha"
               #fecha="ngModel" required
               [ngClass]="{'is-invalid': fecha.invalid && (fecha.touched || oficiosForm.submitted) }">
               
             </div>
           </div>
           </div>-->
         </div>
       </div>
       <!--lugar-->
       <div class="shadow-sm card">
        <div class="card-body">
          <h4 class="card-title d-flex align-items-center">
            <i class="material-icons">
              location_on
            </i>
            Lugar:
          </h4>

          <div class="col-md-6">
          <div class="row">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="oficios.lugar" name="lugar" placeholder="Lugar"
              #lugar="ngModel" required
              [ngClass]="{'is-invalid': lugar.invalid && (lugar.touched || oficiosForm.submitted) }">
              
            </div>
          </div>
          </div>
        </div>
      </div>
      <!--numeroOficio-->
      <!--<div class="shadow-sm card">
        <div class="card-body">
          <h4 class="card-title d-flex align-items-center">
            <i class="material-icons">
             filter_1
            </i>
            Numero de oficio:
          </h4>
          <div class="col-md-6">
          <div class="row">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="oficios.numeroOficio" name="numeroOficio" placeholder="Numero de Oficio"
              #numeroOficio="ngModel" required
              [ngClass]="{'is-invalid': numeroOficio.invalid && (numeroOficio.touched || oficiosForm.submitted) }">
              
            </div>
          </div>
          </div>
        </div>
      </div>-->
      <!--destinatario-->
      <div class="shadow-sm card">
        <div class="card-body">
          <div class="d-flex justify-content-between card-title">
          <h4 class="card-title d-flex align-items-center">
            <i class="material-icons">
             person
            </i>
            Destinatario:
          </h4>
      </div>
      <ng-autocomplete 
      [data]="listaProf"
      [searchKeyword]="keyword"
      (selected)='selectDestinatario($event)'
      [itemTemplate]="itemTemplate"                                 
                                ></ng-autocomplete>
     
    <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
    </ng-template>
      <!-- 
      <div class="row" *ngFor="let ed of oficios.ordenDelDia; let i=index">
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control" (change)="evento($event)" placeholder="Destinatario" name="catalogo{{i}}" [(ngModel)]="ed.catalogo"
                      #prof="ngModel" required
                      [ngClass]="{'is-invalid': prof.invalid && (prof.touched || oficiosForm.submitted) }">
                      <option [value]="d" *ngFor="let d of listaProf">{{d}}</option>
                    </select>
                  </div>
                </div>
                </div> -->
                </div>
                </div>
       
      <!--Asunto-->

      <div class="shadow-sm card">
        <div class="card-body">
          <h4 class="card-title d-flex align-items-center">
            <i class="material-icons">
             forum
            </i>
            Asunto:
          </h4>
          <div class="col-md-6">
          <div class="row">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="oficios.asunto" name="asunto" placeholder="Asunto"
              #asunto="ngModel" required
              [ngClass]="{'is-invalid': asunto.invalid && (asunto.touched || oficiosForm.submitted) }">         
            </div>
          </div>
          </div>
        </div>
      </div>
      <!--Cuerpo-->
      <div class="shadow-sm card">
        <div class="card-body">
          <h4 class="card-title d-flex align-items-center">
            <i class="material-icons"> description</i>Cuerpo</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label id="hola">Por medio de un oficio hago saber</label><textarea class="form-control"[(ngModel)]='oficios.cuerpo' name="oficios" rows="4"
                  placeholder="Cuerpo" #cuerpo="ngModel" required
                  [ngClass]="{'is-invalid':cuerpo.invalid && (cuerpo.touched|| oficiosForm.submitted)}"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Despedida-->
      <div class="shadow-sm card">
        <div class="card-body">
          <h4 class="card-title d-flex align-items-center">
            <i class="material-icons"> description</i>Despedida</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
             <!-- <textarea class="form-control"[(ngModel)]='oficios.despedida' name="oficios" rows="3"
            placeholder="Despedida" #despedida="ngModel" required
            [ngClass]="{'is-invalid':despedida.invalid && (despedida.touched|| oficiosForm.submitted)}"></textarea> -->
            <label>Reciba un cordial saludo, atentamente</label>    
          </div>
            </div>
          </div>
        </div>
      </div>
     <!--Fin de html-->
    </div>
    <div class="col-md-4">
      <div class="shadow-sm card action-buttons">
          <button *ngIf="!editable" (click)="oficiosForm.valid ? publicarEnGedi() : ''"
          class="btn btn-primary d-flex align-items-center justify-content-center">
          <i class="material-icons">
            publish
          </i><span>Publicar en GEDI</span></button>
          <button *ngIf="editable" (click)="oficiosForm.valid ? publicarEditado() : ''"
          class="btn btn-primary d-flex align-items-center justify-content-center">
          <i class="material-icons">
            create
          </i><span>Terminar edición</span></button>
          <button *ngIf="editable" type='reset' (click)="cancelarEdicion()"
          class="btn btn-primary d-flex align-items-center justify-content-center">
          <i class="material-icons">
            cancel
          </i><span>Cancelar edición</span></button>
        <button type='reset' (click)="resetearForm()"
          class="btn btn-primary d-flex align-items-center justify-content-center">
          <i class="material-icons">
            cancel
          </i><span>Limpiar borrador</span></button>
          <button type='reset' (click)="backToHome()"
          class="btn btn-primary d-flex align-items-center justify-content-center">
          <i class="material-icons">
            meeting_room
          </i><span>Regresar a GEDI</span></button>
      </div>
    </div>
    </div>
  </form>
</div>