<div class="container-fluid">
  <nav class="navbar navbar-expand navbar-light bg-primary d-flex justify-content-between">
    <div class="navbar-brand mb-0 h1 text-white">Elaborando Documento Institucional <u>Memorando</u> en GEDI - YAVIRAC</div>
  </nav>
  <div class="progress-loader" [hidden]="!loading">
 
    <mat-progress-bar [mode]="'indeterminate'">
    </mat-progress-bar>
 
</div>
  <form #memoForm="ngForm">
    <div class="row">
      <div class="col-md-8">
        <div class="shadow-sm card">
          <p *ngIf="!editable">Nuevo Documento: {{memoCodigoUsuario}}</p>
          <p *ngIf="editable">Editando Documento: {{memoCodigoUsuario}}</p>
        <div class="card-body">
            <h4 class="card-title d-flex">
              Para:
            </h4>
            <ng-autocomplete 
            [data]="listaProf"
            [searchKeyword]="keyword"
            (selected)='selectPara($event)'
            
            [itemTemplate]="itemTemplate"                                 
                      ></ng-autocomplete>
           
          <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
          </ng-template>        
                
          </div>
          <div class="card-body">
            <h4 class="card-title d-flex">
              Asunto:
            </h4>
            <input type="text" class="form-control" [(ngModel)]="memo.asunto" 
            name="asunto" #Asunto="ngModel" required placeholder="Descripción"
            [ngClass]="{'is-invalid': Asunto.invalid && (Asunto.touched || memoForm.submitted) }">
          </div>
        </div>
        <!-- cuerpo -->
        <div class="shadow-sm card">
          <div class="card-body">
            <div class="d-flex justify-content-between card-title">
              <h4 class="d-flex align-items-center">
                <i class="material-icons">
                  assignment
                </i>
                Cuerpo</h4>
            </div>
            <div class="row">
              <div class="col-md-12" >
                <div class="form-group">
                  <textarea class="form-control" name="cuerpo" [(ngModel)]="memo.cuerpo" #Cuerpo="ngModel" required rows="8"
                      placeholder="Desarrollo del documento" 
                      [ngClass]="{'is-invalid': Cuerpo.invalid && (Cuerpo.touched || memoForm.submitted) }">
                    </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- despedida -->
        <div class="shadow-sm card">
          <div class="card-body">
            <div class="d-flex justify-content-between card-title">
              <h4 class="d-flex align-items-center">
                <i class="material-icons">
                  library_books
                </i>
                Despedida:</h4>
            </div>
            <div class="row" >
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" name="despedida" [(ngModel)]="memo.despedida" #Despedida="ngModel"
                    value="saludos Cordiales," required
                    [ngClass]="{'is-invalid': Despedida.invalid && (Despedida.touched || memoForm.submitted) }">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shadow-sm card action-buttons">
            <button *ngIf="!editable" (click)="memoForm.valid ? publicarEnGedi() : ''"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              publish
            </i><span>Publicar en GEDI</span></button>
            <button *ngIf="editable" (click)="memoForm.valid ? publicarEditado() : ''"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              create
            </i><span>Terminar edición</span></button>
            <button *ngIf="editable" type='reset' (click)="cancelarEdicion()"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              cancel
            </i><span>Cancelar edición</span></button>
          <button type='reset' (click)="resetearForm()"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              cancel
            </i><span>Limpiar borrador</span></button>
            <button type='reset' (click)="backToHome()"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              meeting_room
            </i><span>Regresar a GEDI</span></button>
        </div>
      </div>
    </div>
  </form>
</div>