.bj{
    color:#FF5733 ;
    text-align: center;
    font-size: 60;
    font-style: oblique;
    }
    .bj1{
        color:rgb(255, 255, 255) ;
        text-align: center;
        font-size: 50; 
    }
    .contenedor1{
        background-color: black;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        
    }
    .img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    }
    .img2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        bottom: 20px;   
    }

    .contenedor2{
    
        width: 100%;
        height:700px;
        margin-left: auto;
        margin-right: auto;
    }
    .img3{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .contenedor3{
        
        width: 100%;
        height:700px;
        margin-left: auto;
        margin-right: auto;
    }
    .contenedor4{
             
                background-image: url("https://3.bp.blogspot.com/-O_-vOlwC0U4/WpYzNKyUWmI/AAAAAAAAAD4/jE8-zI18VjMyK9iMTBpaUY0exLxiFUOzgCLcBGAs/s1600/YAVIRAC.jpg");
                
                        height: 100%;
            
                        background-position: center;
                        background-repeat:no-repeat;
                       
                       background-size: cover;
                        width: 100%; 
        padding-left: 2%;
        padding-right: 2%;  
        }
        .titulo{
/*             font: 32px "Comic Sans MS", cursive;
 */            text-align: left;
            color:antiquewhite;
        }
    .body{
        background-color: floralwhite;
    }

/*Contenedor SPT*/
.contenedor5{
/*         background-image: url("https://3.bp.blogspot.com/-O_-vOlwC0U4/WpYzNKyUWmI/AAAAAAAAAD4/jE8-zI18VjMyK9iMTBpaUY0exLxiFUOzgCLcBGAs/s1600/YAVIRAC.jpg");
    */        background-color: #676762;        
        height: auto;
        margin-top: auto;
        background-position: center;
        background-repeat:no-repeat;
        position: relative;
        overflow: hidden;
        background-size: cover;
        width: 100%; 
        /*margin-top: 20%;*/
                            }
    .contenedor6{
        /*         background-image: url("https://3.bp.blogspot.com/-O_-vOlwC0U4/WpYzNKyUWmI/AAAAAAAAAD4/jE8-zI18VjMyK9iMTBpaUY0exLxiFUOzgCLcBGAs/s1600/YAVIRAC.jpg");
*/        background-color: cadetblue;        
        height: auto;
        margin-top: 1%;
        background-position: center;
        background-repeat:no-repeat;
        position: relative;
        overflow: hidden;
                background-size: cover;
                width: 100%; 
        /*margin-top: 20%;*/
 }
  .contenedor7{
        /*         background-image: url("https://3.bp.blogspot.com/-O_-vOlwC0U4/WpYzNKyUWmI/AAAAAAAAAD4/jE8-zI18VjMyK9iMTBpaUY0exLxiFUOzgCLcBGAs/s1600/YAVIRAC.jpg");
            */        background-color: chocolate;        
                height: auto;
                margin-top: 1%;
                background-position: center;
                background-repeat:no-repeat;
                position: relative;
                overflow: hidden;
                background-size: cover;
                width: 100%; 
                /*margin-top: 20%;*/
            }
        .contenedor8{
            /*         background-image: url("https://3.bp.blogspot.com/-O_-vOlwC0U4/WpYzNKyUWmI/AAAAAAAAAD4/jE8-zI18VjMyK9iMTBpaUY0exLxiFUOzgCLcBGAs/s1600/YAVIRAC.jpg");
                */        background-color: cornflowerblue;        
                    height: auto;
                    margin-top: 1%;
                    background-position: center;
                    background-repeat:no-repeat;
                    position: relative;
                    overflow: hidden;
                    background-size: cover;
                    width: 100%; 
                    /*margin-top: 20%;*/
                }
    .contenedor9{
        /*         background-image: url("https://3.bp.blogspot.com/-O_-vOlwC0U4/WpYzNKyUWmI/AAAAAAAAAD4/jE8-zI18VjMyK9iMTBpaUY0exLxiFUOzgCLcBGAs/s1600/YAVIRAC.jpg");
            */        background-color: darkolivegreen;        
                height: auto;
                margin-top: 1%;
                background-position: center;
                background-repeat:no-repeat;
                position: relative;
                overflow: hidden;
                background-size: cover;
                width: 100%; 
                /*margin-top: 20%;*/
            }
            /*Contenedor 10 - CONVOCATORIAS*/
        .contenedor10{
            /*         background-image: url("https://3.bp.blogspot.com/-O_-vOlwC0U4/WpYzNKyUWmI/AAAAAAAAAD4/jE8-zI18VjMyK9iMTBpaUY0exLxiFUOzgCLcBGAs/s1600/YAVIRAC.jpg");
                */        background-color: darkseagreen;        
                    height: auto;
                    margin-top: 4%;
                    background-position: center;
                    background-repeat:no-repeat;
                    position: relative;
                    overflow: hidden;
                    background-size: cover;
                    width: 100%;
                    /*margin-top: 20%;*/
                }
    .contenedor11{
        /*         background-image: url("https://3.bp.blogspot.com/-O_-vOlwC0U4/WpYzNKyUWmI/AAAAAAAAAD4/jE8-zI18VjMyK9iMTBpaUY0exLxiFUOzgCLcBGAs/s1600/YAVIRAC.jpg");
            */        background-color: darkseagreen;        
                height: auto;
                margin-top: 1%;
                background-position: center;
                background-repeat:no-repeat;
                position: relative;
                overflow: hidden;
                background-size: cover;
                width: 100%; 
                /*margin-top: 20%;*/
            }
            .contenedor12{
                /*         background-image: url("https://3.bp.blogspot.com/-O_-vOlwC0U4/WpYzNKyUWmI/AAAAAAAAAD4/jE8-zI18VjMyK9iMTBpaUY0exLxiFUOzgCLcBGAs/s1600/YAVIRAC.jpg");
                    */        background-color: skyblue;        
                        height: auto;
                        margin-top: 1%;
                        background-position: center;
                        background-repeat:no-repeat;
                        position: relative;
                        overflow: hidden;
                        background-size: cover;
                        width: 100%; 
                        /*margin-top: 20%;*/
                    }
    .menu{
        padding-bottom: 10%;
    }

    /*estas dos son las clases de todas las cards*/
    .example-card {
        max-width:180px;
        width: auto;
        height: 200px;
        float: left;
        margin-left:3%;
        margin-top: 1%;
        margin-bottom: 2%;
      }
      .example-header-image {
        background-image: url('../../assets/One_User_Orange.png');
        background-size: cover;
      }
      .pdfImage{
        width: 120px;
        margin: 0 auto;      
    }
    .name{
        margin-left: 40px;
    }
      
      .mat-form-field  {
        
          width: 100% !important;
        
/*       
        .mat-select-value {
          max-width: 100%;
          width: 500px;
        }  */ 
      }
      .myaccordion {
        max-width: 500px;
        margin: 50px auto;
        box-shadow: 0 0 1px rgba(0,0,0,0.1);
      }
      
      .myaccordion .card,
      .myaccordion .card:last-child .card-header {
        border: none;
      }
      
      .myaccordion .card-header {
        border-bottom-color: #EDEFF0;
        background: transparent;
      }
      
      .myaccordion .fa-stack {
        font-size: 18px;
      }
      
      .myaccordion .btn {
        width: 100%;
        font-weight: bold;
        color: #004987;
        padding: 0;
      }
      
      .myaccordion .btn-link:hover,
      .myaccordion .btn-link:focus {
        text-decoration: none;
      }
      
      .myaccordion li + li {
        margin-top: 10px;
      }