<h1>COMPONENTE VISUALIZADOR</h1>
<p>Visualizador de documentos de acuerdo al rol del usuario!</p>
<p>Permitir descargar los documentos</p>
<p>Permitir modificar los documentos que le pertenezcan al usuario en cuestión</p>
<button (click)="agregarMensaje()">Botón Visualizador</button>
<!--Bucle para recorrer el array users-->
<h1>Mostrando datos de ejemplo API</h1>
<h3>API alojada en Heroku</h3>
<div *ngFor='let user of users'>
    <p>{{ user.nombre | uppercase }}</p>
    <p>{{ user.apellido | uppercase }}</p>
    <hr>
  </div>
