<div class="bg">
<div class="example-header">
  <div class="progress-loader" [hidden]="!loading">
 
    <mat-progress-bar [mode]="'indeterminate'">
    </mat-progress-bar>
 
</div>
  </div>
  
  <div class="example-container mat-elevation-z8">
      <mat-form-field id="inputFilter">
      <input  matInput (keyup)="applyFilter($event.target.value)" 
       placeholder="Filtrar por apellido-nombre o correo institucional">
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CÓDIGO </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.codigo_user}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="rol">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ROL </mat-header-cell>
        <mat-cell *matCellDef="let row" > {{row.role_id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </mat-header-cell>
        <mat-cell *matCellDef="let row" > {{row.email}} </mat-cell>
      </ng-container>

       <ng-container matColumnDef="admin">
        <mat-header-cell  *matHeaderCellDef > ACCIONES </mat-header-cell>
        <mat-cell *matCellDef="let row">
             <button #ref (click)="openDialog('Generar', row);addtomainrecord(row.id,row)"
             [disabled]="disablebutton[row.id]"
             mat-raised-button mat-button matTooltip="GENERAR CÓDIGO DE USUARIO"
             matTooltipPosition="below"
             aria-label="Button that displays a tooltip when focused or hovered over">Ver</button>
        </mat-cell>
      </ng-container> 

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" >
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>