  <div class="container-fluid">
    <nav class="navbar navbar-expand navbar-light bg-primary d-flex justify-content-between">
      <div class="navbar-brand mb-0 h1 text-white">SOLICITUD - YAVIRAC</div>
      <button mat-button mat-raised-button routerLink="/elaborador">REGRESAR</button>
    </nav>
    <form #solicitudForm="ngForm">
      <div class="row">
        <div class="col-md-8">
          <div class="shadow-sm card">
            <div class="card-body">
              <h4 class="card-title d-flex align-items-center">
                <i class="material-icons">
                  person_pin_circle
                </i>
                Lugar Solicitud:</h4>
              
                <div class="col-md-6">
                <div class="row">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="solicitud.sumillas" name="sumillas" placeholder="lugar"
                      #sumillas="ngModel" required
                      [ngClass]="{'is-invalid': sumillas.invalid && (sumillas.touched || solicitudForm.submitted) }">
                  </div>
                  </div>
                  </div>
                  </div>
                </div>
              
  
                  <!--Destinatario-->
                  <div class="row">
                    <div class="col-md-8">
                      <div class="shadow-sm card">
                        <div class="card-body">
                          <h4 class="card-title d-flex align-items-center">
                            <i class="material-icons">
                             person
                            </i>
                            Destinatario :</h4>
                          
                            <div class="col-md-6">
                            <div class="row">
                              <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="solicitud.destinatario" name="destinatario" placeholder="destinatario:"
                                  #destinatario="ngModel" required
                                  [ngClass]="{'is-invalid': destinatario.invalid && (destinatario.touched || solicitudForm.submitted) }">
                              </div>
                              </div>
                              </div>
                              </div>
                            </div>
                          </div>
                  </div>
                   
          <!--PresentacionSolicitante-->
              <div class="row">
                <div class="col-md-8">
                  <div class="shadow-sm card">
                    <div class="card-body">
                      <h4 class="card-title d-flex align-items-center">
                        <i class="material-icons">
                         person
                        </i>
                        Solicitante :</h4>
                      
                        <div class="col-md-6">
                        <div class="row">
                          <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="solicitud.presentacionSolicitante" name="presentacionSolicitante" placeholder="solicitante:"
                              #presentacionSolicitante="ngModel" required
                              [ngClass]="{'is-invalid': presentacionSolicitante.invalid && (presentacionSolicitante.touched || solicitudForm.submitted) }">
                          </div>
                          </div>
                          </div>
                          </div>
                        </div>
                      </div>
              </div>
              <!--Cuerpo-->
              <div class="shadow-sm card">
                <div class="card-body">
                  <h4 class="card-title d-flex align-items-center">
                    <i class="material-icons"> description</i>Cuerpo</h4>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control"[(ngModel)]='solicitud.cuerpo' name="cuerpo" rows="4"
                          placeholder="cuerpo" #cuerpo="ngModel" required
                          [ngClass]="{'is-invalid':cuerpo.invalid && (cuerpo.touched|| solicitudForm.submitted)}"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                     
                  <!--despedida-->
                  <div class="shadow-sm card">
                    <div class="card-body">
                      <h4 class="card-title d-flex align-items-center">
                        <i class="material-icons"> description</i>Despedida</h4>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                         <textarea class="form-control"[(ngModel)]='solicitud.despedida' name="despedida" rows="3"
                        placeholder="despedida" #despedida="ngModel" required
                        [ngClass]="{'is-invalid':despedida.invalid && (despedida.touched|| solicitudForm.submitted)}"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
       
                       
                   
               <!--fecha-->
               <div class="row">
                <div class="col-md-8">
                  <div class="shadow-sm card">
                    <div class="card-body">
                      <h4 class="card-title d-flex align-items-center">
                        <i class="material-icons">
                          insert_invitation
                        </i>
                       Fecha :</h4>
                      
                        <div class="col-md-6">
                        <div class="row">
                          <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="solicitud.fecha" name="fecha" placeholder="fecha"
                              #fecha="ngModel" required
                              [ngClass]="{'is-invalid':fecha.invalid && (fecha.touched || solicitudForm.submitted) }">
                          </div>
                          </div>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>              
                    </div>
                
        <div class="col-md-4">
          <div class="shadow-sm card action-buttons">
            <button (click)="solicitudForm.valid ? generarPdf('open') : ''"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                picture_as_pdf
              </i> <span>Mostrar PDF</span></button>
            <button (click)="solicitudForm.valid ? generarPdf('download') : ''"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                cloud_download
              </i><span>Descargar PDF</span></button>
            <button (click)="solicitudForm.valid ? generarPdf('print') : ''"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                print
              </i><span>Imprimir PDF</span></button>
            <button type='reset' (click)="resetearForm()"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                clear
              </i><span>Limpiar</span></button>
              </div>
      
          </div>
        </div>
    </form>
</div>