<div class="container-fluid">
  <nav class="navbar navbar-expand navbar-light bg-primary d-flex justify-content-between">
    <div class="navbar-brand mb-0 h1 text-white">Elaborando Documento Institucional <u>Hoja de Vida</u> en GEDI - YAVIRAC</div>
  </nav>
  <div class="progress-loader" [hidden]="!loading">
 
    <mat-progress-bar [mode]="'indeterminate'">
    </mat-progress-bar>
 
</div>
    <form #resumeForm="ngForm">
      <div class="row">
        <div class="col-md-8">
          <div class="shadow-sm card">
            <p *ngIf="!editable">Nuevo Documento: {{hdvCodigoUsuario}}</p>
            <p *ngIf="editable">Editando Documento: {{hdvCodigoUsuario}}</p>
                        <div class="card-body">
              <h4 class="card-title d-flex align-items-center">
                <i class="material-icons">
                  account_circle
                </i>
                Detalles Personales</h4>
              <div class="row">
                <div class="col-md-6">
                  <!-- <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="resume.name" name="name" placeholder="Nombre"
                      #Name="ngModel" required
                      [ngClass]="{'is-invalid': Name.invalid && (Name.touched || resumeForm.submitted) }">
                  </div> --><p>{{this.usuario.name}}</p>
                  <div class="form-group">
                    <div class="form-group">
                      <textarea class="form-control" [(ngModel)]="resume.address" name="address" rows="3"
                        placeholder="Dirección" #Address="ngModel" required
                        [ngClass]="{'is-invalid': Address.invalid && (Address.touched || resumeForm.submitted) }"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="resume.contactNo" name="contactNo"
                      placeholder="Teléfono" #ContactNo="ngModel" required
                      [ngClass]="{'is-invalid': ContactNo.invalid && (ContactNo.touched || resumeForm.submitted) }">
                  </div>
                  <!-- <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="resume.email" name="emailId"
                      placeholder="Email" #Email="ngModel" required
                      [ngClass]="{'is-invalid': Email.invalid && (Email.touched || resumeForm.submitted) }">
                  </div> --><p>{{this.usuario.email}}</p>
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="resume.socialProfile" name="socialProfile"
                      placeholder="Usuario Git">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Skills -->
          <div class="shadow-sm card">
            <div class="card-body">
              <div class="d-flex justify-content-between card-title">
                <h4 class="d-flex align-items-center">
                  <i class="material-icons">
                    timeline
                  </i>
                  Habilidades</h4>
                <button class="btn btn-primary" (click)="addSkill()">+</button>
              </div>
              <div class="row">
                <div class="col-md-4" *ngFor="let s of resume.skills; let i=index">
                  <div class="form-group">
                    <input type="text" class="form-control" name="skill{{i}}" [(ngModel)]="s.value"
                      placeholder=" Java / Angular / .Net " #Skill="ngModel" required
                      [ngClass]="{'is-invalid': Skill.invalid && (Skill.touched || resumeForm.submitted) }">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Experience -->
          <div class="shadow-sm card">
            <div class="card-body">
              <div class="d-flex justify-content-between card-title">
                <h4 class="d-flex align-items-center">
                  <i class="material-icons">
                    timeline
                  </i>
                  Experiencia</h4>
                <button class="btn btn-primary" (click)="addExperience()">+</button>
              </div>
              <div class="row" *ngFor="let ex of resume.experiences; let i=index">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" name="employer{{i}}" [(ngModel)]="ex.employer"
                      placeholder="Empleado" #Employer="ngModel" required
                      [ngClass]="{'is-invalid': Employer.invalid && (Employer.touched || resumeForm.submitted) }">
                  </div>
                  <div class="form-group">
                    <div class="form-group">
                      <textarea class="form-control" name="jobDescription{{i}}" [(ngModel)]="ex.jobDescription" rows="3"
                        placeholder="Descripción de trabajo"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" name="jobTitle{{i}}" [(ngModel)]="ex.jobTitle"
                      placeholder="Título Profesional" #JobTitle="ngModel" required
                      [ngClass]="{'is-invalid': JobTitle.invalid && (JobTitle.touched || resumeForm.submitted) }">
                  </div>
                  <div class="form-group">
                    <input type="number" class="form-control" name="exInMonths{{i}}" [(ngModel)]="ex.experience"
                      placeholder="Experiencia en meses" #Experience="ngModel" required
                      [ngClass]="{'is-invalid': Experience.invalid && (Experience.touched || resumeForm.submitted) }">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Educación -->
          <div class="shadow-sm card">
            <div class="card-body">
              <div class="d-flex justify-content-between card-title">
                <h4 class="d-flex align-items-center">
                  <i class="material-icons">
                    school
                  </i>
                  Educación</h4>
                <button class="btn btn-primary" (click)="addEducation()">+</button>
              </div>
              <div class="row" *ngFor="let ed of resume.educations; let i=index">
                <div class="col-md-3">
                  <div class="form-group">
                    <select class="form-control" placeholder="Grado" name="degree{{i}}" [(ngModel)]="ed.degree"
                      #Degree="ngModel" required
                      [ngClass]="{'is-invalid': Degree.invalid && (Degree.touched || resumeForm.submitted) }">
                      <option [value]="d" *ngFor="let d of degrees">{{d}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" class="form-control" name="college{{i}}" [(ngModel)]="ed.college"
                      placeholder="Colegio/Universidad" #College="ngModel" required
                      [ngClass]="{'is-invalid': College.invalid && (College.touched || resumeForm.submitted) }">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="number" class="form-control" name="passingYear{{i}}" [(ngModel)]="ed.passingYear"
                      placeholder="Año cursando" #PassingYear="ngModel" required
                      [ngClass]="{'is-invalid': PassingYear.invalid && (PassingYear.touched || resumeForm.submitted) }">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="number" class="form-control" name="result{{i}}" [(ngModel)]="ed.percentage"
                      placeholder="Porcentaje" #Percentage="ngModel" required
                      [ngClass]="{'is-invalid': Percentage.invalid && (Percentage.touched || resumeForm.submitted) }">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Otros Detalles -->
          <div class="shadow-sm card">
            <div class="card-body">
              <h4 class="card-title d-flex align-items-center">
                <i class="material-icons"> list </i>Detalles u Otros</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea type="text" class="form-control" [(ngModel)]="resume.otherDetails" name="otherDetails"
                      rows="4"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="shadow-sm card action-buttons">
              <button *ngIf="!editable" (click)="resumeForm.valid ? publicarEnGedi() : ''"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                publish
              </i><span>Publicar en GEDI</span></button>
              <button *ngIf="editable" (click)="resumeForm.valid ? publicarEditado() : ''"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                create
              </i><span>Terminar edición</span></button>
              <button *ngIf="editable" type='reset' (click)="cancelarEdicion()"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                cancel
              </i><span>Cancelar edición</span></button>
            <button type='reset' (click)="resetForm()"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                cancel
              </i><span>Limpiar borrador</span></button>
              <button type='reset' (click)="backToHome()"
              class="btn btn-primary d-flex align-items-center justify-content-center">
              <i class="material-icons">
                meeting_room
              </i><span>Regresar a GEDI</span></button>
          </div>
          <div class="card p-4">
            <div class="form-group">
              <label class="h4 mb-3" for="">Añade tu foto</label>
              <input type="file" class="form-control-file" (change)="fileChanged($event)" aria-describedby="fileHelpId">
            </div>
            <img *ngIf="resume.profilePic" [src]="resume.profilePic" class="img-thumbnail">
          </div>
        </div>
      </div>
        
    </form>
  </div>